<html>

<head>
    <title>Angular JS Forms</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

    <style>
        table,
        th,
        td {
            border: 1px solid grey;
            border-collapse: collapse;
            padding: 5px;
        }

        table tr:nth-child(odd) {
            background-color: #f2f2f2;
        }

        table tr:nth-child(even) {
            background-color: #ffffff;
        }
    </style>

</head>

<body>

    <h2>Signup Form</h2>
    <div ng-app="mainApp" ng-controller="studentController">

        <form name="studentForm" action="http://127.0.0.1:8081/process_request" method = "GET" novalidate>
            <table border="0">
                <tr>
                    <td>Enter Name:</td>
                    <td><input name="name" type="text" ng-model="Name" required>
                        <span style="color:red" ng-show="studentForm.name.$dirty && studentForm.name.$invalid">
                            <span ng-show="studentForm.name.$error.required">First Name is required.</span>
                        </span>
                    </td>
                </tr>

                <tr>
                    <td>Enter Mobile Number: </td>
                    <td><input name="number" type="tel" ng-model="number" required>
                        <span style="color:red" ng-show="studentForm.number.$dirty && studentForm.number.$invalid">
                            <span ng-show="studentForm.number.$error.required">Mobile Number is required.</span>
                            <span ng-show="studentForm.number.$error.tel">Invalid phone number.</span>
                        </span>
                    </td>
                </tr>

                <tr>
                    <td>Email: </td>
                    <td><input name="email" type="email" ng-model="email" length="100" required>
                        <span style="color:red" ng-show="studentForm.email.$dirty && studentForm.email.$invalid">
                            <span ng-show="studentForm.email.$error.required">Email is required.</span>
                            <span ng-show="studentForm.email.$error.email">Invalid email address.</span>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>Enter Address:</td>
                    <td><input name="address" type="text" ng-model="Address" required>
                        <span style="color:red" ng-show="studentForm.address.$dirty && studentForm.address.$invalid">
                            <span ng-show="studentForm.address.$error.required">Address is required.</span>
                        </span>
                    </td>
                </tr>

                <tr>
                    <td>Enter Date of Birth:</td>
                    <td><input name="dob" type="date" ng-model="DOB" required>
                        <span style="color:red" ng-show="studentForm.dob.$dirty && studentForm.dob.$invalid">
                            <span ng-show="studentForm.dob.$error.required">Date of Birth is required.</span>
                        </span>
                    </td>
                </tr>

                <tr>
                    <td>Enter Gender:</td>
                    <td><input name="gender" type="text" ng-model="Gender" required>
                        <span style="color:red" ng-show="studentForm.gender.$dirty && studentForm.gender.$invalid">
                            <span ng-show="studentForm.gender.$error.required">Gender is required.</span>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>Enter Username:</td>
                    <td><input name="uname" type="text" ng-model="Uname" required>
                        <span style="color:red" ng-show="studentForm.uname.$dirty && studentForm.uname.$invalid">
                            <span ng-show="studentForm.uname.$error.required">Username is required.</span>
                        </span>
                    </td>
                </tr>

                <tr>
                    <td>Enter Password:</td>
                    <td><input name="pwd" type="password" ng-model="Pwd" required>
                        <span style="color:red" ng-show="studentForm.pwd.$dirty && studentForm.pwd.$invalid">
                            <span ng-show="studentForm.pwd.$error.required">Password is required.</span>
                        </span>
                        
                    </td>
                </tr>

                <tr>
                    <td>Enter Confirm Password:</td>
                    <td><input name="confirmpwd" type="password" ng-model="ConfirmPwd" required>
                        <span style="color:red"
                            ng-show="studentForm.confirmpwd.$dirty && studentForm.confirmpwd.$invalid">
                            <span ng-show="studentForm.confirmpwd.$error.required">Confirm Password is required.</span>
                        </span>
                            <span style="color: red;" ng-show="checkPass()">Password doesn't match</span>
                    </td>
                </tr>


                <tr>
                    <td>
                        <button ng-click="reset()">Reset</button>
                    </td>
                    <td>
                        <button ng-disabled="studentForm.name.$dirty &&
                        studentForm.name.$invalid   || studentForm.number.$dirty &&
                        studentForm.number.$invalid || studentForm.email.$dirty &&
                        studentForm.email.$invalid  || studentForm.address.$dirty &&
                        studentForm.address.$invalid || studentForm.dob.$dirty &&
                        studentForm.dob.$invalid || studentForm.gender.$dirty &&
                        studentForm.gender.$invalid || studentForm.uname.$dirty &&
                        studentForm.uname.$invalid || studentForm.pwd.$dirty &&
                        studentForm.pwd.$invalid || studentForm.confirmpwd.$dirty &&
                        studentForm.confirmpwd.$invalid" input type = "submit" value = "Submit">Submit</button>
                    </td>
                </tr>

            </table>
        </form>
    </div>

    <script>
        var mainApp = angular.module("mainApp", []);

        mainApp.controller('studentController', function ($scope) {
            $scope.Name = "vrutika kakadiya";
                $scope.number = "0123456789";
                $scope.email = "vrutika123@gmail.com";
                $scope.Address = "C-1,ABC App.,Xyz,Surat";
                $scope.DOB = "06/11/2000";
                $scope.Gender = "female";
                $scope.Uname = "xyz123";
                $scope.Pwd = "123456abc";
                $scope.ConfirmPwd = "123456abc";;

            $scope.reset = function () {
                $scope.Name = "vrutika kakadiya";
                $scope.number = "0123456789";
                $scope.email = "vrutika123@gmail.com";
                $scope.Address = "C-1,ABC App.,Xyz,Surat";
                $scope.DOB = "06/11/2000";
                $scope.Gender = "female";
                $scope.Uname = "xyz123";
                $scope.Pwd = "123456abc";
                $scope.ConfirmPwd = "123456abc";

            }
            $scope.checkPass = function () {

                if ($scope.ConfirmPwd === undefined) {
                    return false
                }

                if ($scope.Pwd !== $scope.ConfirmPwd) {
                    return true
                }


            }

            $scope.reset();
        });
    </script>

</body>

</html>